<!DOCTYPE html>
<html>
  <head><% include partials/page/head.ejs %></head>
  <body class="<%= classname %>">
    <div id="Wrapper">
      <header><% include partials/page/header.ejs %></header>
      <div class="top row">
        <a id="Home" class="topNavLink active" href="">Home</a>
        <a id="About" class="topNavLink" href="">About</a>
        <a id="Join / Schedule" class="topNavLink" href="">Join / Schedule</a>
        <a id="Contact" class="topNavLink" href="">Tools</a>
        <a id="Learn" class="topNavLink" href="">Learn</a>
        <a id="Contact" class="topNavLink" href="">Contact</a>
      </div>
      <div class="slider row">
        <h3 id="SliderText" class="header"><%= pagetitle %>This text will cycle with news and event information</h3>
      </div>

      <div class="middle row">
      <img id="logo" src="img/logo.png" alt="Club Logo">
      <h4 id="MissionStatement" class="header"><q>Become a better web developer, create projects to showcase, collaborate with friends, and give back to the community</q></h4>
      <a id="LearnMore" class="submit" href="">Learn More</a>
      </div>
      <hr>
      <div class="bottom row">
        <a id="Site Map" class="bottomNavLink">Site Map</a>
        <a id="Officers" class="bottomNavLink">Officers</a>
        <a id="Events" class="bottomNavLink">Events</a>
        <a id="Members" class="bottomNavLink">Members</a>
        <a id="History" class="bottomNavLink">History</a>
      </div>
      <% if (typeof(speakers) !== 'undefined') { %>
      <ul>
        <% for (var i=0; i<speakers.length; i++) { %>
          <li><%= speakers[i] %></li>
        <% } %>
      </ul>
      <% } %>
    </div>
      <footer><% include partials/page/jsdefaults.ejs %></footer>
      <% include partials/page/jsdefaults.ejs %>
    </div>
  </body>
</html>