<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
  </head>
  <body ng-controller="MainController">
    <p>{{message}}</p>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="#/home">Home</a>
  </body>
  <div ng-view>
  </div>
</html>
