<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <div id="Wrapper">
      <header>
        <% include partials/template/header.ejs %>
      </header>
      <section class="content">
        <% include partials/page/home.ejs %>
      </section>
      <footer>
        <% include partials/template/footer.ejs %>
      </footer>
      <% include partials/template/jsdefaults.ejs %>
    </div>
  </body>
</html>
